<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net45" />
  <package id="FreeSpire.Doc" version="7.11.0" targetFramework="net45" />
  <package id="FreeSpire.XLS" version="9.10.11" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net45" />
</packages>